* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items:center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: deepskyblue;
}

.white {
  background-color: rgb(208, 178, 122);
}

.selected-true{
  background-color: brown;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgb(132, 185, 132);
}

.available-figure{
  background-color:greenyellow;
}

.lost {
  display: flex;
  height: calc(50vh - 60px);
  width: calc(64px * 7);
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: lightgray;
}